<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>whiskers and wagz!</title>
</head>
<body>
<nav class="header">
    <p href="#">Whiskers And Wagz <!-- webpage refresh ?? lol -->
    <a href="#">dogs</a>
    <a href="#">cats</a>
</nav>
{{{body}}}
</body>
</html>


