<div class="container">
        <div class="center-container">
        <h1 class="title is-1 has-text-centered">Whiskerz and Wagz!</h1>
        <div class="header">
            <p>Welcome to Whiskers and Wagz, your go-to destination for finding your perfect furry companion. Our pet adoption website is dedicated to connecting loving individuals like yourself with pets in need of a forever home.</p>
        </div>
    </div>
    <div class="container pet-listings-container is-flex is-justify-content-center is-align-items-center">
        <div class="Available-Dogs">
            <figure class="mr-5">
                 <a href="/dogs">
                    <img src="/Images/BooBear-dog.jpg" alt="Available Dogs" class="adopt-image">
                    <figcaption>Available Dogs</figcaption>
                </a>
            </figure>
        </div>
        <div class="Available-Cats">
            <figure class="mr-6">
                <a href="/cats">
                    <img src="/Images/Zoe-cat.jpg" alt="Available Cats" class="adopt-image">
                    <figcaption>Available Cats</figcaption>
                </a>
            </figure>
        </div>
    </div>
    <section class="section">
        <p>At Whiskers and Wagz, we believe that every wag of a tail and every gentle purr has the power to bring immense joy and happiness to our lives. Our mission is to facilitate the beautiful journey of pet adoption, ensuring that every pet finds a loving and caring home where they can thrive.</p>
        <p>Browse through our diverse selection of lovable animals, from playful kittens to loyal dogs and everything in between. Each pet has a unique story and is eagerly waiting to become a part of your life. By adopting a pet from Whiskers and Wagz, you're not just gaining a new family member, but you're also making a positive impact by providing a second chance to those who deserve it most.</p>
        <p>Join us at Whiskers and Wagz, where tails wag and hearts melt. Start your search for a loving companion today and experience the incredible bond that only a pet can bring. Welcome to our community, and let the journey of unconditional love begin!</p>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; 2023 Whiskerz and Wagz. All rights reserved.</p>
            <p>Contact us at <a href="mailto:info@whiskerzandwagz.com">info@whiskerzandwagz.com</a></p>
        </div>
    </footer>
    <div>