<h1>Available Types</h1>
    <ul>
      {{#each types}}
      <li>
        <h2>{{name}}</h2>
        <p>Type: {{type_name}}</p>
        {{!-- <p>id: {{id}}</p> --}}
        <!-- Add more pet details as needed -->
      </li>
      {{/each}}
    </ul>